# Sensitive Configuration Files
## Environment Variables
.env
.env.*
!.env.example

## Application Config
/config.yml
/config.yaml
/config.production.yaml
!/config.example.yaml

## Source Configuration
/sources.yml

# Security Files
## Certificates and Keys
*.pem
*.key
*.crt
*.ca
http_ca.crt

# Build and Binary Files
bin/
gocrawl

# IDE and Editor Files
.idea/
.idea/.gitignore
.idea/gocrawl.iml
.idea/modules.xml
.idea/vcs.xml

# Test and Coverage Reports
coverage/coverage.html
coverage/coverage.out

# Temporary and Log Files
*.bak
*.log
